/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
  background-color: #074343;
}

#header {
  background-image: image-url('top_bg.png');
  height: 162px;
  #logo {
    float: left;
    padding: 20px 0;
    width: 403px;
    height: 121px;
    background-image: image-url('logo@2x.png');
    background-size: 403px 121px;
    background-position: 0 20px;
    background-repeat: no-repeat;
  }
  #play-icon {
    float: right;
    padding: 50px 0 0;
    width: 214px;
    height: 71px;
    background-image: image-url('play@2x.png');
    background-size: 214px 71px;
    background-position: 0 50px;
    background-repeat: no-repeat;
  }
}
.content {
  width: 960px;
  margin: 0 auto;
}
@media only screen
and (min-device-width : 391px)
and (max-device-width : 960px) {
  #header {
    height: 100px;
    padding: 0 20px;
    #logo {
      width: 201px;
      height: 60px;
      background-size: 201px 60px;
    }
    #play-icon {
      width: 138px;
      height: 45px;
      background-size: 138px 45px;
      padding: 30px 0 0;
      background-position: 0 30px;
    }
  }
  .content {
    width: 100%;
  }
}
@media only screen
and (min-device-width : 1px)
and (max-device-width : 390px) {
  #header {
    height: 50px;
    padding: 0 20px;
    #logo {
      padding: 10px 0;
      width: 100px;
      height: 30px;
      background-size: 100px 30px;
      background-position: 0 10px;
    }
    #play-icon {
      width: 107px;
      height: 35px;
      background-size: 107px 35px;
      padding: 7px 0 0;
      background-position: 0 7px;
    }
  }
  .content {
    width: 100%;
  }
}

a {
  color: #ffffff;
}

#info {
  position: absolute;
  width: 100%;
  color: #ffffff;
  padding: 5px;
  font-family: Monospace;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

#menu {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.element {
  width: 620px;
  height: 160px;
  box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
  border: 1px solid rgba(127,255,255,0.25);
  text-align: center;
  cursor: default;
}

.element:hover {
  box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
  border: 1px solid rgba(127,255,255,0.75);
}

.element .number {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 12px;
  color: rgba(127,255,255,0.75);
}

.element .symbol {
  position: absolute;
  top: 30px;
  left: 0px;
  right: 0px;
  font-size: 40px;
  font-weight: bold;
  color: rgba(255,255,255,0.75);
  text-shadow: 0 0 10px rgba(0,255,255,0.95);
}

.element .details {
  position: absolute;
  bottom: 15px;
  left: 0px;
  right: 0px;
  font-size: 22px;
  color: rgba(127,255,255,0.75);
}

button {
  color: rgba(127,255,255,0.75);
  background: transparent;
  outline: 1px solid rgba(127,255,255,0.75);
  border: 0px;
  padding: 5px 10px;
  cursor: pointer;
}
button:hover {
  background-color: rgba(0,255,255,0.5);
}
button:active {
  color: #000000;
  background-color: rgba(0,255,255,0.75);
}