<!DOCTYPE html>
<html>
<head>
  <title>HintmanWeb</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div id="header">
  <div class="content">
    <div id="logo"></div>
    <div id="play-icon"></div>
  </div>
</div>

</body>
</html>
